html, body { 
  background: url('../img/summer.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.search {
  position: relative;
  width: 500px;
  height: 250px;
  padding: 50px 50px 50px 50px;
  margin: 0 auto;
  margin-top: 200px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  z-index: 2;
}

.search-alternative {
  height: 45px;
}
.search-alternative select {
  font-size: 30px;
  height: 40px;
}

.search-title {
  font-size: 22px;
  width: 150px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.flat-button {
  position: relative;
  vertical-align: top;
  width: 80px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#dep {
  display: none;
}
#des {
  display: none;
}
.search-submit {
  margin-top: 10px;
  margin-left: 350px;
}
.progress {
  display: none;
  background: rgba(0,0,0,0.50);
  height: 40px;
  width: 490px;
  margin: 0 auto;
  margin-top: -15px;
  z-index: 100;
  font-size: 12px;
}
.progress div {
  color: #ffffff;
}

.content-view {
  position: relative;
  display: none;
  width: 800px;
  min-height: 250px;
  padding: 25px 50px 50px 50px;
  margin: 0 auto;
  margin-top: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.60);
  z-index: 2;
}
.content-view h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}
.destination-suggestion {
  height: 120px;
  width: 600px;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.30);
  -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.30);
  box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.30);
  z-index: 2;
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom: 18px;
}
.destination-suggestion h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}
.value_wrapper {
  overflow-y: scroll;
  max-height: 300px;
}
.suggestion-content {
  float: left;
  width: 563px;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}
.suggestion-view-more {
  float: left;
  width: 35px;
  border-left: 1px dashed rgba(0,0,0,0.2);
  height: 100px;
  margin-top: 1px;
}
.suggestion-content table {
  border-collapse: separate;
  border-spacing: 0 0.3em;
}
.suggestion-content td {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
  color: rgba(10,10,10,0.8);
  font-size: 14px;
}
.suggestion-content .what {
  width: 230px;
}