<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/base.css">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="../assets/javascripts/jQuery.js"></script>
  <script type="text/javascript" src="../assets/javascripts/core.js"></script>
</head>
<body>
  <div class='body'>
    <div class="container">
      <div class="row">
        <div class="row-header">
          <h1>Smart-Travel</h1>
        </div>
      </div>
      <div class="row">
        <div class="row-intro">
          <div class="info-text">
          Smart-Travel is an intelligent currency conversion calculator. Simply imput what region you would like to travel and when, and it will return the destination where you will get the most for your money.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row-data">
          <ul>
            <li>
              <div class="column column-1">
                <h2>input date in here</h2>
                <div id="curReg"></div>
              </div>
            </li>
            <li>
              <div class="column column-2">
                <h2>input date in here</h2>
                <div id="desReg"></div>
              </div>
            </li>
            <li>
              <div class="column column-3">
                <h2>input date in here</h2>
                <div id="date"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="row-footer">
          <div class="footer-description">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>