<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/base.css">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="../assets/javascripts/jQuery.js"></script>
  <script type="text/javascript" src="../assets/javascripts/core.js"></script>
</head>
<body>
  <div class='body'>
    <div class="container">
      <div class="row">
        <div class="row-intro">
          <h1>Smart-Travel</h1>
        </div>
      </div>
      <div class="row">
        <div class="row-data">
          <ul>
            <li>
              <div class="column column-1">
                <h2>input date in here</h2>
              </div>
            </li>
            <li>
              <div class="column column-2">
                <h2>input date in here</h2>
              </div>
            </li>
            <li>
              <div class="column column-3">
                <h2>input date in here</h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="row-footer">
          <h3>some fancy looking stuff at the bottom</h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>