<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/base.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/javascripts/ui/jquery-ui.css"/>

  <script src="../assets/javascripts/jQuery.js"></script>
  <script type="text/javascript" src="../assets/javascripts/core.js"></script>
  <script src="../assets/javascripts/ui/jquery-ui.js"></script>
</head>
<body>
  <div class='body'>
    <div class="container">
      <div class="row">
        <div class="row-image">
          <div class="row-header">
            <h1>Smart-Travel</h1>
          </div>

          <div class="row-intro">
            <div class="info-text">
              <h2>
                Smart-Travel is an intelligent currency conversion calculator. Simply imput what region you would like to travel and when, and it will return the destination where you will get the most for your money.
              </h2>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="row-data">
          <ul>
            <li>
              <div class="column column-1">
                <h3>Your Currency?</h3>
                <div id="curReg"></div>
              </div>
            </li>
            <li>
              <div class="column column-2">
                <h3>Region?</h3>
                <div id="desReg"></div>
              </div>
            </li>
            <li>
              <div class="column column-3">
                <h3>When?</h3>
                <div id="date"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="row-footer">
          <div class="footer-description">
            <h4>
            Smart-Travel uses an algorithim to combine the currency exchange rate and a countries personal percahsing parity (PPP) and track this into the future to predict where and when your currency will have the best buying power in a region.
            <br/><br/>
            <strong>Your buying power relative to the world.</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>